<a href="https://colab.research.google.com/github/milindkhare/milindkhare/blob/Pypractice/Numpy_Panda_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python NP and pandas practice**

In [1]:
import numpy as np
import pandas as pd
vals = np.array([1, np.nan, 3,4])
vals.sum()

nan

In [2]:
a = ['a', 'b', 'c']
b = ['y', 'z']
a.extend(b)
print(a)

['a', 'b', 'c', 'y', 'z']

In [3]:
ld = pd.Series(['Donald Trump', 'Narendra Modi', 'b j', 'A M', 'V P', 'Xi Jinping'])
nm = ld.str.extract('([A-Za-z]+)')
nm[:1]
nm

          0
0    Donald
1  Narendra
2         b
3         A
4         V
5        Xi

In [4]:
primes = [2,3,5,7,11,13,17,19,23,29]
sq_pr = [x*x for x in primes if x%10 == 3]
print(sq_pr)

[9, 169, 529]

In [5]:
data = ['gUIDO']
data = [s.capitalize() for s in data]
data

['Guido']

In [6]:
# from sklearn.preprocessing import imputer
# imp = Imputer(missing_values=0, startegy = 'mean', axis=0)
# imp.fit_transform(X_train)

In [7]:
pd.date_range('2020-01-01', '2021-12-01', freq='BM')

DatetimeIndex(['2020-01-31', '2020-02-28', '2020-03-31', '2020-04-30',
               '2020-05-29', '2020-06-30', '2020-07-31', '2020-08-31',
               '2020-09-30', '2020-10-30', '2020-11-30', '2020-12-31',
               '2021-01-29', '2021-02-26', '2021-03-31', '2021-04-30',
               '2021-05-31', '2021-06-30', '2021-07-30', '2021-08-31',
               '2021-09-30', '2021-10-29', '2021-11-30'],
              dtype='datetime64[ns]', freq='BM')

In [8]:
a =np.arange(1,10).reshape(3,3)
a.sum(axis=0)

array([12, 15, 18])

In [9]:
date = pd.to_datetime("4th of July,2019")
date.strftime('%A')

'Thursday'

In [10]:
A= pd.Series([2,4,6], index = [0,1,2])
B= pd.Series([1,3,5], index = [1,2,3])
C= A+B
print(C)

0    NaN
1    5.0
2    9.0
3    NaN
dtype: float64

In [11]:
choices = pd.Series([1,2,3,4,5,6])
draws = choices.sample(n=10, replace=True)
draws.head

<bound method NDFrame.head of 0    1
4    5
5    6
2    3
2    3
3    4
4    5
2    3
0    1
2    3
dtype: int64>